In [2]:
import numpy as np
import pandas as pd

In [11]:
df = pd.read_csv('lists/owned.csv', parse_dates=['US Start Date'])

In [13]:
df

,Number,Name,Year,Theme,Pieces,Minifigs,US Retail Price,US Start Date
0,10179,Ultimate Collector's Millennium Falcon,2007,Star Wars,5197.0,5.0,499.99,2007-10-24
1,4993,Cool Convertible,2008,Creator,648.0,NaN,49.99,2008-05-26
2,8293,LEGO® Power Functions Motor Set,2008,Power Functions,10.0,NaN,29.99,2008-06-27
3,6745,Propeller Power,2009,Creator,247.0,NaN,19.99,2008-12-05
4,6747,Race Rider,2009,Creator,266.0,NaN,19.99,2008-12-28
...,...,...,...,...,...,...,...,...
705,75387,Boarding the Tantive IV,2024,Star Wars,502.0,7.0,54.99,2024-01-31
706,75380,Mos Espa Podrace Diorama,2024,Star Wars,718.0,NaN,79.99,2024-04-16
707,30680,AAT,2024,Star Wars,75.0,NaN,NaN,NaT
708,40686,Trade Federation Troop Carrier,2024,Star Wars,262.0,NaN,NaN,NaT
709,5008818,Battle of Yavin Collectable Coin,2024,Gear,NaN,NaN,NaN,NaT

In [14]:
df['US Start Date'].info

<bound method Series.info of 0     2007-10-24
1     2008-05-26
2     2008-06-27
3     2008-12-05
4     2008-12-28
         ...
705   2024-01-31
706   2024-04-16
707          NaT
708          NaT
709          NaT
Name: US Start Date, Length: 710, dtype: datetime64[ns]>

In [17]:
df['Theme'].value_counts()

Theme
Collectable Minifigures    153
Star Wars                  101
BrickHeadz                  91
Ideas                       39
Technic                     30
Creator                     29
City                        29
The LEGO Batman Movie       25
Icons                       24
Creator Expert              20
Promotional                 19
Speed Champions             18
Seasonal                    16
Marvel Super Heroes         14
Harry Potter                14
Jurassic World               9
Disney                       6
The LEGO Movie               6
Gear                         5
Architecture                 5
Miscellaneous                5
DC Comics Super Heroes       4
Classic                      4
The LEGO Ninjago Movie       4
Mindstorms                   4
Ninjago                      3
Bricklink                    3
Indiana Jones                3
Minecraft                    3
Advanced models              3
Scooby-Doo                   2
Dimensions                   2
Pirates                      2
The Simpsons                 2
Education                    2
Super Mario                  2
Power Functions              2
Castle                       1
Nexo Knights                 1
Space                        1
The LEGO Movie 2             1
Stranger Things              1
Art                          1
Ghostbusters                 1
Name: count, dtype: int64

In [34]:
df.groupby(['Theme'])['Pieces'].agg(['median', 'mean', 'min', 'max', 'count']).sort_values(by='count', ascending=False)

                         median         mean     min     max  count
Theme
Collectable Minifigures     7.0    12.723684     4.0   159.0    152
Star Wars                 413.0   937.356436     7.0  7541.0    101
BrickHeadz                150.0   190.527473    79.0   708.0     91
Ideas                     864.0  1219.205128   154.0  3955.0     39
Technic                  1153.5  1468.566667   199.0  4057.0     30
City                      290.0   417.965517    10.0  1226.0     29
Creator                   387.0   549.724138   105.0  1426.0     29
The LEGO Batman Movie     305.0   573.760000    13.0  3444.0     25
Icons                    2271.5  2666.875000    92.0  9090.0     24
Creator Expert           1941.0  2030.000000   734.0  4163.0     20
Promotional               168.0   169.157895     5.0   421.0     19
Speed Champions           280.0   338.555556   166.0   884.0     18
Seasonal                  223.5   184.312500     3.0   368.0     16
Harry Potter              522.5  1547.857143    25.0  6020.0     14
Marvel Super Heroes       478.0   957.357143    22.0  3772.0     14
Jurassic World            360.0   727.111111    18.0  3120.0      9
Disney                    547.5  1454.000000   200.0  4080.0      6
The LEGO Movie            560.0   852.166667   115.0  2741.0      6
Miscellaneous             128.0   146.000000    89.0   278.0      5
Architecture              444.0   493.600000    57.0  1210.0      5
DC Comics Super Heroes   2444.5  2516.000000  1869.0  3306.0      4
Classic                     1.0   121.750000     1.0   484.0      4
The LEGO Ninjago Movie   2924.0  2680.250000     6.0  4867.0      4
Mindstorms                  1.0   151.000000     1.0   601.0      4
Ninjago                    29.0  1913.000000    25.0  5685.0      3
Advanced models          2032.0  2551.000000  1334.0  4287.0      3
Minecraft                 466.0   458.333333   440.0   469.0      3
Bricklink                3371.0  3198.666667  2149.0  4076.0      3
Indiana Jones             600.0   844.000000   387.0  1545.0      3
Education                   4.0     4.000000     1.0     7.0      2
Dimensions                 87.0    87.000000    56.0   118.0      2
Super Mario              2355.0  2355.000000  2064.0  2646.0      2
The Simpsons             2351.0  2351.000000  2179.0  2523.0      2
Scooby-Doo                580.5   580.500000   301.0   860.0      2
Power Functions             5.5     5.500000     1.0    10.0      2
Pirates                   384.5   384.500000    24.0   745.0      2
Space                      19.0    19.000000    19.0    19.0      1
Ghostbusters             4634.0  4634.000000  4634.0  4634.0      1
Stranger Things          2287.0  2287.000000  2287.0  2287.0      1
Castle                     47.0    47.000000    47.0    47.0      1
The LEGO Movie 2         3178.0  3178.000000  3178.0  3178.0      1
Art                      1810.0  1810.000000  1810.0  1810.0      1
Nexo Knights               45.0    45.000000    45.0    45.0      1
Gear                        NaN          NaN     NaN     NaN      0